<div class="center jumbotron">
  <h1>Hot DesQ Points</h1>

  <h2>
    Yes, we made an app for that.
  </h2>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
  <h2>
 	Already have an account? <%= link_to "Log in", login_path %>
 </h2>
</div>
